/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : ene 13, 2020, 11:41:29 a.m.
    Author     : MiguelAviles
*/


@media (min-width: 800px) {
    .container-grid-flex{
        display:grid;
        grid-gap:20px;
    }
    .user_info_container{
        grid-column:1/-1;
        grid-row:1/3;
    }
    .account_container{
        grid-column:2/3;
    }
    .contact_info_container{
        grid-column:2/3;
    }
    
}
.table-option{
    margin:10px;
}
@media (max-width: 800px) {
    .container-grid-flex{
        display:flex;
        flex-wrap: wrap;
    }
    .user_info_container{
        display:flex;
        width:100%;

        margin:5px;
    }
    .account_container{
        display:flex;
        width:100%;

        margin:5px;
    } 
    .contact_info_container{
        display:flex;
        width:100%;
    } 
}